.settingsPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settingsFormContainer {
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.6s;
}

.settingsFormContainer:hover {
    background-color: rgba(219, 219, 219, 0.308);
}
.settingsFormHeading {
    font-weight: bold;
    font-size: 18px;
}

.formInputField {
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border: 1px solid grey; 
    font-size: large;
    outline: none; 
    transition: border 0.2s ease; 
    box-sizing: border-box;
}

.formInputField:focus {
    border: 2px solid rgb(49, 162, 255);
}

.formSubmitButton {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 0px none transparent;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
}

.formSubmitButton:hover {
    opacity: 0.6;
}
.formSubmitButton:disabled {
    opacity: 0.3;
    cursor: auto;
}
.formItself {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    row-gap: 10px;
}

.formRow {
    display: flex;
    width: 100%;
    column-gap: 10px;
}


.accordion {
    display: flex;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid rgb(212, 212, 212);
}

.accordion:hover {
    background-color: rgb(245, 245, 245);
}

.accordionText {
    margin: 0px;
}

.panel {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    background-color: white;
    animation: fadeDown 0.2s ease;
}

.panel span {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.panel span:hover {
    background-color: rgb(245, 245, 245);
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}